html, body
{
    background: linear-gradient(to right, black, rgb(50, 0, 50) 10%, black);
    height: 100%;
    margin: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.center 
{
    text-align: center;
    margin: 0 auto;
    width: 50%;
}

.grid 
{
    display: grid;
    grid-template-columns: repeat(3, 1fr); /*Arrange images in 5 columns */
    grid-gap: 100px 25px; /* Add spacing between images */
    margin: 25px; /*spacing around grid*/
}

.grid img
{
    width: 100%; /* Ensure images fill their grid cells */
    object-fit: cover; /* Scale images to fill the available space while maintaining aspect ratio */
}